%h1 All Posts

-@posts.each do |post|
    %h2=link_to post.title, post_path(post)
    %h3= comment_count = pluralize(post.comments.count,"Count")
    = link_to image_tag(post.image.url(:small))
    %p=link_to 'check it out',post.link
    %p= post.description
    %p="upvote: #{post.get_upvotes.size}"
    %p="downvote: #{post.get_downvotes.size}"
=link_to 'add a new post',new_post_path
